[package]
name = "tikv-importer"
version = "4.0.0-beta.2"
authors = ["The TiKV Authors"]
description = "Tool to help ingesting large number of KV pairs into TiKV cluster"
license = "Apache-2.0"
repository = "https://github.com/tikv/importer/"
edition = "2018"
publish = false

[lib]
name = "tikv_importer"

[[bin]]
name = "tikv-importer"

[[test]]
name = "integrations"
path = "tests/integrations/import/mod.rs"

[dependencies]
clap = "2.33"
cmd = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", features = ["prost-codec"] }
crc32fast = "1.2"
crossbeam = "0.7"
engine = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false }
engine_rocks = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false, features = ["prost-codec"] }
engine_traits = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false }
futures = "0.1"
futures-cpupool = "0.1"
grpcio = "0.5.0-alpha.5"
keys = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false }
kvproto = { version = "0.0.2", git = "https://github.com/pingcap/kvproto.git", branch = "master", default-features = false, features = ["prost-codec"] }
lazy_static = "1.4"
log_wrappers = { version = "0.0.1", git = "https://github.com/tikv/tikv.git", branch = "release-4.0" }
pd_client = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false }
prometheus = { default-features = false, features = ["nightly", "push", "process"], git = "https://github.com/tikv/rust-prometheus.git", rev = "d919ccd35976b9b84b8d03c07138c1cc05a36087" }
quick-error = "1.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
slog = { version = "2.5", features = ["max_level_trace", "release_max_level_debug"] }
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "0e23a5baff302a9d7bccd85f8f31e43339c2f2c1" }
tikv = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false, features = ["prost-codec"] }
tikv_util = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false }
txn_types = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false }
tipb = { git = "https://github.com/pingcap/tipb.git", default-features = false, features = ["prost-codec"] }
toml = "0.4"
uuid = { version = "0.7", features = [ "serde", "v4" ] }
hex = "0.3"

[dependencies.engine_rocksdb]
git = "https://github.com/tikv/rust-rocksdb.git"
package = "rocksdb"

[dev-dependencies]
tempdir = "0.3"
rand = "0.7"
test_util = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false }
raftstore = { git = "https://github.com/tikv/tikv.git", branch = "release-4.0", default-features = false }

[features]
tcmalloc = ['tikv/tcmalloc']
jemalloc = ['tikv/jemalloc']
portable = ['tikv/portable']
sse = ['tikv/sse']
mem-profiling = ['tikv/mem-profiling']

[replace]
"raft:0.6.0-alpha" = { git = "https://github.com/pingcap/raft-rs", default-features = false }
"raft-proto:0.6.0-alpha" = { git = "https://github.com/pingcap/raft-rs", default-features = false }
"protobuf:2.8.0" = { git = "https://github.com/pingcap/rust-protobuf", rev="b67d432c1b74350b38a5d96ddf885ac6c3ff46f5" }
"prost:0.5.0" = { git = "https://github.com/danburkert/prost", rev = "1944c27c3029d01ff216e7b126d846b6cf8c7d77" }
"protobuf-build:0.10.0" = { git = "https://github.com/tikv/protobuf-build", rev="1fe5d77689d9691b7917215f3a1d32968115cc02" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

